* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e2c;
  color: white;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
}

@media (max-width: 600px) {
  h3, .heatmap-title {
    font-size: 16px;
  }

  .description.big-comment {
    font-size: 13px;
  }
}
